
body{
	background-image:url("res/watersteel2.jpg");
	background-size: cover;

	background-attachment: fixed;
	margin: auto;
}
	

.picture{

	list-style: none;
	margin-left: 90px;
	display: inline-block;
	margin-top: 100px;

	
}


.welcome{
	text-shadow: 2px 2px 2px black; 
	color: blue;
	text-align: center;
}

.select{
	color: blue;
	text-align: center;
	margin-top: 50px;
}
.logo{
	text-shadow: 2px 2px 2px black;
	color: black;
	float: right;
	margin-right:30px;
	margin-top: 100px; 
	}
	
	
	
	
