body{
	margin: auto;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: Gray;
}

li {
	float: left;
}

a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

a:hover {
	border-radius: 60px;
	border-color: black;
	padding-top: 5px;
}

img {
	margin-top: 5px;
	margin-left: 10px;
	margin-right:10px ;
	margin-bottom: 5px;
	width: 40px;
	height: 35px
}

h2 {
	text-decoration: underline;
	text-align: center;
}

form {
	/*margin: auto;*/
	width: 800px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	display: inline-flex;
	margin-left: 220px;
  	border:1px solid black;
    
}

label {
	width: 150px;	
	height: 15px;
	display: inline-table;
	text-align: left;
	margin-top: 10px;
}

input {
	font: 15px sans-serif;
	width: 250px;
	height: 25px;
	border: 1px solid black;
}

table {
	margin-top: 150px;
	margin-bottom: 50px;
	border-collapse:collapse;
	width:100%;
}
th, td {
	border:1px solid black;
	width:5%;
	text-align: center;
}

button{
	margin-top: 28px;
	margin-bottom: 28px;
	height: 30px;
	margin-left: 45px;
	border-radius: 10px;
	color: black;


}
.edit{
	display: none;
}
